.apacyti
{
    background-color: rgba(0, 0, 0, 0.33);
    margin: 0;
    color: #F2F7FA;
    text-align:center;
    font-family:sans-serif;
    font-size: 32px;
    padding: 16px 0;
}
body
{
    padding: 10px;
    background-image:  url("file:///Users/muhammadriruzirv001gmail.com/Downloads/IMG_2086.jpg");
    ");
    background-repeat: no-repeat;
    background-size: cover;
}
.apacyti1
{
    margin: 0;
    color: #F2F7FA;
    text-align:center;
    font-family: Verdana,sans-serif;
    font-size: 32px;
    padding: 16px 0;
    font-weight: bold;
}