body{
    background-color:  #5c2d8b;
}
div{
    background-color: white;
    width:450px;
    margin: 0 auto;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 7px 7px 7px 7px rgba(7, 10, 8, 0.62);
}
button{
    background-color: rgb(86, 54, 196);
    border-radius: 5px;
    border: none;
    width:100px;
    height: 30px;
    color: #F2F7FA;
    font-family: Verdana, sans-serif;

}
img{
    width: 450px;
    height: 300px;
    border-radius: 10px;
}
h1
{
    font-family: Verdana, sans-serif;
}
p
{
    font-family: Verdana, sans-serif;
}