body{
    background: #212121;
}
h1
{
    text-align: center;
    font-family: Verdana, sans-serif;
    color: #F2F7FA;
}
.border
{
    border-style: solid;
    padding: 3px;
    margin-top:  25px;
    color: #212121;
    background: rgba(255, 255, 255, 0.89);
    border-radius: 10px;
    border-color: rgba(253, 248, 234, 0.98);
    margin-left: 120px;
    margin-right: 120px;
    font-family: Verdana, sans-serif;
}
.border2 {
    border-style: solid;
    padding: 3px;
    margin-top:  25px;
    color: #212121;
    background: rgb(214, 111, 51);
    border-radius: 10px;
    border-color: rgb(214, 111, 51);
    margin-left: 120px;
    margin-right: 120px;
    font-family: Verdana, sans-serif;
}
.border3
{
    border-style: solid;
    padding: 3px;
    margin-top:  25px;
    color: #212121;
    background: rgb(214, 111, 51);
    border-radius: 10px;
    border-color: rgb(214, 111, 51);
    margin-left: 120px;
    margin-right: 120px;
    font-family: Verdana, sans-serif;

}
.border4
{
    border-style: solid;
    padding: 3px;
    margin-top:  25px;
    color: #212121;
    background: rgb(214, 111, 51);
    border-radius: 10px;
    border-color: rgb(214, 111, 51);
    margin-left: 120px;
    margin-right: 120px;
    font-family: Verdana, sans-serif;
}