body{
    background-color: #4C91FD;
}
.card{
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    width: 450px;
    margin: 0 auto;
    font-family: sans-serif;
    padding: 10px   ;
    border-color: rgb(224, 18, 18);
    box-shadow:5px 5px 34px 7px rgba(0, 0, 0, 0.3);

}
h1{
    text-align: center;
}
p{
    text-align: justify;

}
a
{
    color: #74A6E0;
}